
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	-webkit-appearance: none;
	font-family: 'ubuntu';
	&::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
}

*::selection {
	background-color: #16D384;
	color: black;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: #263238;
}
body { overflow-x: hidden; }
input, textarea, button, select, a { outline: none; }

a {
	text-decoration: none;
	color: inherit;
}
