.donate {
  max-width: 1200px;
  margin: auto;
  header {
    position: relative;
    z-index: 2;
    nav {
      margin-top: 40px;
      a {
        color: white;
        display: inline-block;
        margin: 20px;
        font-size: 17px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
      > img {
        float: right;
        margin: 30px;
        margin-top: -17px;
      }
    }
  }
  .blue-btn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    background-image: url('/R/img/blueButton.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
  }
  .resp-iframe {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
