.main {

  @headerHeight: 30vh;
  @asideWidth: 300px;
  @maxWidth: 100vw;
  header {
    width: calc(@maxWidth ~"-" @asideWidth);
    height: @headerHeight;
    background-color: #1F1F1F;
    @media(max-width: 1082px) {
      width: calc(100vw);
    }
    .calendar-icon {
      float: right;
      margin: 15px;
      cursor: pointer;
      display: none;
      @media (max-width: 1082px) {
        display: block;
      }
    }
    > a {
      perspective: 500px;
      display: inline-block;
    }
    nav {
      position: absolute;
      height: 60px;
      top: @headerHeight;
      left: 0;
      width: calc(@maxWidth ~"-" @asideWidth);
      @media(max-width: 1082px) {
        width: calc(100vw);
      }
      background-color: #263238;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      ul {
        padding: 0;
        min-width: 785px;
        text-align: center;
        li.menu_item {
          display: inline-block;
          background-image: url('/R/img/button.svg');
          &:hover {
            background-image: url('/R/img/hoverButton.svg');
          }
          background-size: contain;
          width: 133px;
          margin: 0 10px;
          font-size: 18px;
          font-weight: bold;
          color: white;
          height: 47px;
          display: inline-block;
          align-items: center;
          justify-content: center;
          background-position: center;
          background-repeat: no-repeat;
          a {
            text-transform: uppercase;
            display: block;
            padding: 13px;
          }
        }
      }
    }
  }

  main {
    .main-section {
      position: fixed;
      left: 0;
      top: calc(@headerHeight ~"+" 60px);
      height: calc( 100vh ~"-" @headerHeight);
      overflow: hidden;
      width: calc( @maxWidth ~"-" @asideWidth);
      @media(max-width: 1082px) {
        width: calc(100vw);
      }
      background-color: #1F1F1F;
      .mosaic-container {
        // width: 200vw;
        width: 2140px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 33%;
        // top: 20%;
        transform: translate(-50%, -50%);
        transition: left 0.7s cubic-bezier(0, 0.5, 0, 1), top 0.7s cubic-bezier(0, 0.5, 0, 1);
        .mosaic-row {
          text-align: center;
          .mosaic-icons {
            width: 180px;
            height: 180px;
            margin: 41px;
            display: inline-flex;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 30px;
            font-family: 'ubuntu';
            background-image: url('/R/img/mosaic.svg');
            &:hover {
              background-image: url('/R/img/hoverMosaic.svg');
            }
          }
        }
      }
    }

    aside {
      overflow: auto;
      position: absolute;
      top: 0;
      left: calc(100vw ~"-" 300px);
      width: 300px;
      background-color: #252525;
      padding: 0 5px;
      padding-left: 20px;
      height: 100vh;
      z-index: 3;
      transition: left 0.3s ease, transform 0.3s ease;

      @media (max-width: 1082px) {
        left: calc(100vw);
        &.opened {
          transform: translate(-100%);
        }
      }
      > h2 {
        color: white;
        font-size: 40px;
        font-weight: normal;
        font-family: 'ubuntu';
        margin-top: 25px;
      }
      .date-cont {
        display: block;
        height: 140px;
        width: 300px;
        margin-top: 10px;
        display: flex;
        color: #9CBEE7;
        > div { display: flex; }
        .left {
          flex-direction: column;
          justify-content: center;
          align-content: center;
          flex-grow: 1;
          .day-letter {
            font-size: 21px;
          }
          .day-number {
            font-size: 81px;
            line-height: 0.8;
          }
          .day-month {
            font-size: 25px;
            font-weight: bold;
          }
        }
        .right {
          flex-grow: 2;
          align-items: center;
          padding: 10px;
        }
      }
    }
  }

  .modal-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    @media(max-width: 1082px) {
      &.opened {
        display: block;
      }
    }
  }
}
