.participate {
  max-width: 1200px;
  margin: auto;
  header {
    nav {
      margin-top: 40px;
      a {
        color: white;
        display: inline-block;
        margin: 20px;
        font-size: 17px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
      > img {
        float: right;
        margin: 30px;
        margin-top: -17px;
      }
    }
  }
  main {
    h1 {
      color: white;
      padding-left: 20px;
      margin: 40px;
      @media (max-width: 600px) {
        margin: 20px;
      }
    }
    ul {
      padding: 0;
      @media (max-width: 800px) {
        padding: 20px;
      }
      li {
        display: flex;
        border-bottom: 1px solid fade(white, 15%);
        width: 100vw;
        max-width: 100%;
        margin-top: 20px;
        @media (max-width: 800px) {
          flex-direction: column;
        }
        .image {
          height: 200px;
          width: 200px;
          min-width: 200px;
          background-color: coral;
        }
        .content {
          padding: 0 20px;
          color: fade(white, 80%);
          @media (max-width: 800px) {
            padding: 20px 0;
          }
          h2 {
            margin-bottom: 10px;
          }
          p {
            line-height: 1.4em;
            font-size: 17px;
            @media (max-width: 800px) {
              max-width: 400px;
              width: 88%;
              text-align: justify;
            }
          }
        }
        .anchors {
          min-width: 215px;
          height: 200px;
          // background-color: fade(white, 10%);
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          a {
            display: flex;
            align-items: center;
            color: white;
            font-size: 15px;
            img {
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}
