.sponsors {
  max-width: 1200px;
  margin: auto;
  header {
    nav {
      margin-top: 40px;
      a {
        color: white;
        display: inline-block;
        margin: 20px;
        font-size: 17px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
      > img {
        float: right;
        margin: 30px;
        margin-top: -17px;
      }
    }
  }
  main {
    h1 {
      color: white;
      padding-left: 20px;
      margin: 40px;
      @media (max-width: 600px) {
        padding: 20px;
      }
    }
    h1 {
      color: white;
      padding-left: 20px;
    }
    .resp-iframe {
      position: relative;
      height: 0;
      overflow: hidden;
      width: 100%;
      padding-top: 56.3%;
      transition: padding-top 0.3s ease;
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .table {
      margin: 50px 0;
      display: block;
      border: 2px solid rgba(255, 255, 255, 0.3);
      ul {
        display: table;
        width: 100%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        &:last-of-type {
          border-bottom: 0px solid rgba(255, 255, 255, 0.3);
        }
        li {
          display: table-cell;
          width: 33%;
          padding: 15px;
          color: white;
        }
      }
    }
  }
}
